<style>
    .completed{
        color : red;
        text-decoration: line-through;
        font-style: italic;
    }
</style>
<script src="/javascripts/tasks.js"></script>
<h1>Tasks</h1>
<hr>
<ol class="taskList">
   {{#each tasks}}
       {{#if isCompleted}}
           <li class='completed' data-id="{{id}}">
       {{else}}
           <li data-id="{{id}}">
       {{/if}}
        {{name}} <a href="/tasks/toggle/{{id}}">X</a></li>
   {{/each}}
</ol>


